body {
    background-color:lightskyblue;
}


.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px black;
    border-style: solid;
    border-radius: 50px;
}

.bonepreto {
    display: flex;
    align-items: center;
    text-align:center;
    position:sticky;
    justify-content: center;
    mix-blend-mode: multiply;
    margin-top: 20px;

}


.bonebranco {
    display: flex;
    align-items: center;
    text-align:center;
    position:sticky;
    justify-content: center;
    mix-blend-mode: multiply;


}

.boneabareta {
    display: flex;
    align-items: center;
    text-align:center;
    position:sticky;
    justify-content: center;
    mix-blend-mode: multiply;

}

.botao1 {
    margin-top: 50px;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.botao2 {
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.botao3 {
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.bone1 {
    width: 20%;
}

.bone2 {
    width: 20%;
}

.bone3 {
    width: 20%;
}

.botaoUm {
    background-color: black;
    color:#FFFFFF
}

.botaoDois {
    background-color: black;
    color: #FFFFFF;

}

.botaoTres {
    background-color: black;
    color: #FFFFFF;
}